.chevron {
  transition: transform 300ms ease-in-out;
}

.chevronOpen {
  transform: rotate(90deg);
}

.collapse {
  transition: height 300ms ease-in-out;
}

.content {
  padding: 1em 2em;
}

.content p {
  margin-bottom: 0;
}

.label {
  margin-left: 0.5em;
  font-size: 1.1rem;
  color: #636370;
}

.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper {
  color: #737380;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1em;
}
