.toc {
  position: sticky;
  top: 50px;
}

.toc > ul {
  list-style-type: none;
}

.tocItem {
  color: #9c9c9c;
  text-decoration: none;
}

.tocItem:hover {
  color: #101010;
}

.activeTocItem {
  color: #303030;
}
