#visualisation {
  width: 1000px;
  height: 650px;
  border-style: solid;
  border-color: #262445;
}

.mitch-d3-tree.boxed-tree.default .link {
  fill: none;
  stroke: #00a886;
  stroke-width: 2.5px;
}

.mitch-d3-tree.boxed-tree.default .node.collapsed .body-group .body-box {
  fill: white;
  stroke-width: 2.5px;
}
.mitch-d3-tree.boxed-tree.default .node.selected .body-group .body-box {
  stroke: #f2603b;
  stroke-width: 2.5px;
  border-radius: 25px;
}
.mitch-d3-tree.boxed-tree.default .node .body-group .body-box {
  stroke: #00a886;
  stroke-width: 2.5px;
}

.mitch-d3-tree.boxed-tree.default .node.depth-even .body-group .body-box {
  stroke: #f2603b;
}

.mitch-d3-tree.boxed-tree.default .node.depth-odd .body-group .body-box {
  stroke: #00a886;
}

.mitch-d3-tree.boxed-tree.default .node.depth-result .body-group .body-box {
  stroke: purple;
  stroke-width: 5px;
  fill: lightpink;
}
